@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Poppins:wght@200&family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Poppins:wght@200&family=Roboto:wght@300&family=Smooch+Sans&display=swap')


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(65.15deg, #347ab3 16.62%, #87cefa 85.61%);
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    width: 85px;
    height: 85px;

}

.cabecalho-menu {
    display: flex;
    gap: 30px;
    
}

.cabecalho-menu-item {
    font-family: 'Poppins';
    color: #fcfcfc;
    font-weight: 400;
    font-size: 18px;
}

.corpo-da-pagina {
    margin-bottom: 48px;
    border-top: 0.4px solid #fcfcfc;
}

.corpo-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.corpo-conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.corpo-superior-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 65px;
    color: #fcfcfc;
}

.corpo-superior-paragrafo {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fcfcfc;
    
}

.corpo-button-twitch {
    background-color: #6441a5;
}

.corpo-button-youtube {
    background-color: #cc0000;
}

.corpo-button-twitter {
    background-color: #1DA1F2;
}

.corpo-conteudo a {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    
}

.corpo-conteudo button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0,.25);
    border-radius: 25px;
}

.corpo-conteudo img {
    padding-right: 10px;
    text-align: left;
    width: 35px;
    height: 35px;
}

.corpo-imagem {
    height: 500px;
}

.corpo-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 48px;
}

.corpo-inferior-titulo {
    border-top: 0.4px solid #fcfcfc;
    padding-top: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
    margin-bottom: 16px;
}

.corpo-inferior-escrita {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fcfcfc
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fcfcfc;
}

.rodape img {
    display:block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
