@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(65.15deg, #347ab3 16.62%, #87cefa 85.61%);
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    width: 250px;
    height: 65px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item {
    font-family: 'Bebas Neue', cursive;
    color: #fcfcfc;
    font-weight: 400;
    font-size: 22px;
}

.cabecalho-menu-item:hover {
    color:#347ab3;
}

.corpo-da-pagina {
    margin-bottom: 48px;
    border-top: 0.4px solid #fcfcfc;
    padding-left: 35px;
}

.corpo-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.corpo-conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.corpo-superior-titulo {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 65px;
    color: #fcfcfc;
}

.corpo-superior-titulo-historia{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 65px;
    color: #f5f5f5;
}

.corpo-superior-titulo-historia-h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #f5f5f5;
}

.corpo-superior-titulo-historia-h3 {
    
    font-family: 'Quicksand', sans-serif;
    font-weight: 400 bold;
    font-size: 28px;
    color: #f5f5f5;
}

.corpo-superior-paragrafo-historia {
    padding-right: 100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #f8f8ff;
}

.corpo-superior-paragrafo {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fcfcfc;
}

.corpo-button-twitch {
    background-color: #6441a5;
}

.corpo-button-youtube {
    background-color: #cc0000;
}

.corpo-button-twitter {
    background-color: #1DA1F2;
}

.corpo-conteudo a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #fcfcfc;
    display: flex;
    align-items: center;
}

.corpo-conteudo button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0,.25);
    border-radius: 25px;
}

.corpo-conteudo button:hover {
    background-color:rgba(236, 214, 196, 0.25);
    width: 200px;
}

.corpo-conteudo img {
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
    width: 35px;
    height: 25px;
}

.corpo-imagem {
    height: 380px;
}

.corpo-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 48px;
}

.corpo-inferior-titulo {
    border-top: 0.4px solid #fcfcfc;
    padding-top: 48px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
    margin-bottom: 16px;
}

.corpo-inferior-escrita {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fcfcfc
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fcfcfc;
}

.rodape img {
    display:block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
